<h3>Available Ships</h3>
<table class="ships">
	<tr>
		<th>Ship</th>
		<th>Attack</th>
		<th>Defense</th>
	</tr>
<% ship_descriptors.each do |ship_descriptor| %>
	<tr>
		<td>
			<img class="ship_image" src="<%="/images/#{ship_descriptor.display_name}.jpg" %>" id="<%= ship_descriptor.display_name %>"></img>
			<br>
			<%= ship_descriptor.display_name %>
		</td>
		<td><p class="stats"><%= ship_descriptor.attack %></p></td>
		<td><p class="stats"><%= ship_descriptor.defense %></p></td>
	</tr>
<% end %>
</table>
<form action="/game/fight">
	<div>
		<div class="player_input first_player_input">
			<h3>Player 1</h3>
			<h4>Ships</h4>
			<textarea readonly id="player_1_ships" name="player_1_ships" rows="10"></textarea>
		</div>
		<div class="player_input">
			<h3>Player 2</h3>
			<h4>Ships</h4>
			<textarea readonly id="player_2_ships" name="player_2_ships" rows="10"></textarea>
		</div>
	
	<div class="buttons">
		<input type="submit" value="Fight!"/>
		<input type="button" value="Clear" id="clear_button"/>
		<input type="button" value="Player 1 finished" id="select"/>
	</div>
</div>

</form>

<script type="text/javascript">
$(document).ready(function() {
	var player_1_ships = $("#player_1_ships");
	var player_2_ships = $("#player_2_ships");
	var current_player_ships = player_1_ships;

	$("img.ship_image").click(function() {
		var current_ships = current_player_ships.text();
		current_player_ships.text(current_ships + this.id + "\n");

		
	});

	$("#select").click(function() {
		if(current_player_ships == player_1_ships) {
			current_player_ships = player_2_ships;
		} else {
			current_player_ships = player_1_ships;
		}
	});

	$("#clear_button").click(function() {
		player_1_ships.text("");
		player_2_ships.text("");
	});
});
</script>